<div class="full h-28 mt-12 bg-hero-background title-header bg-center flex-col flex items-center content-center justify-center">
  <h1 class="font-sans font-semibold tracking-widest text-5xl">Game Information</h1>
  <app-footer></app-footer>
</div>
<div class="flex flex-wrap bg-clearBlack max-w-full overflow-scroll">
  <div class="flex flex-col justify-center py-2 px-10 flex-auto">
    <div class="gb12 flex items-center content-center justify-center">
      <img class="rounded-full m-4" src="./assets/img/boss/giant_caiross.jpg">
      <h2 class="font-semibold font-sans antialiased">Giant B.12</h2>
    </div>
    <table class="text-center gb12">
      <thead>
        <tr>
          <th>Wave</th>
          <th>Unit</th>
          <th>SPD</th>
          <th>ATK</th>
          <th>DEF</th>
          <th>HP</th>
          <th>RES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Golem</td>
          <td>119</td>
          <td>1750</td>
          <td>2272</td>
          <td>26235</td>
          <td>60</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Crystal</td>
          <td>108</td>
          <td>1576</td>
          <td>1224</td>
          <td>23670</td>
          <td>60</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Mid boss</td>
          <td>164</td>
          <td>6180</td>
          <td>3642</td>
          <td>117885</td>
          <td>100</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Golem</td>
          <td>169</td>
          <td>2273</td>
          <td>2732</td>
          <td>31365</td>
          <td>70</td>
        </tr>
        <tr class="boss">
          <td>4</td>
          <td>Ancient Giant</td>
          <td>90</td>
          <td>9643</td>
          <td>3155</td>
          <td>298275</td>
          <td>69</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col justify-center py-2 px-10 flex-auto">
    <div class="db12 flex items-center content-center justify-center">
      <img class="rounded-full m-4" src="./assets/img/boss/dragon_caiross.jpg">
      <h2 class="font-semibold font-sans antialiased">Dragon B.12</h2>
    </div>
    <table class="text-center db12">
      <thead>
        <tr>
          <th>Wave</th>
          <th>Unit</th>
          <th>SPD</th>
          <th>ATK</th>
          <th>DEF</th>
          <th>HP</th>
          <th>RES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Big Crystal</td>
          <td>118</td>
          <td>2315</td>
          <td>1722</td>
          <td>28350</td>
          <td>70</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Small Crystal</td>
          <td>109</td>
          <td>2315</td>
          <td>1576</td>
          <td>20550</td>
          <td>70</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Zaiross</td>
          <td>163</td>
          <td>5633</td>
          <td>3045</td>
          <td>119520</td>
          <td>79</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Big Crystal</td>
          <td>169</td>
          <td>3009</td>
          <td>2076</td>
          <td>34020</td>
          <td>80</td>
        </tr>
        <tr class="boss">
          <td>4</td>
          <td>Legendary Dragon</td>
          <td>163</td>
          <td>7911</td>
          <td>3605</td>
          <td>265545</td>
          <td>80</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col justify-center py-2 px-10 flex-auto w-full">
    <div class="nb12 flex items-center content-center justify-center">
      <img class="rounded-full m-4" src="./assets/img/boss/necropolis_caiross.jpg">
      <h2 class="font-semibold font-sans antialiased">Necropolis B.12</h2>
    </div>
    <table class="text-center nb12">
      <thead>
        <tr>
          <th>Wave</th>
          <th>Unit</th>
          <th>SPD</th>
          <th>ATK</th>
          <th>DEF</th>
          <th>HP</th>
          <th>RES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Golem</td>
          <td>118</td>
          <td>1585</td>
          <td>1981</td>
          <td>18945</td>
          <td>60</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Crystal</td>
          <td>109</td>
          <td>1317</td>
          <td>1316</td>
          <td>15255</td>
          <td>60</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Grego</td>
          <td>164</td>
          <td>3900</td>
          <td>1684</td>
          <td>82620</td>
          <td>70</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Right Golem</td>
          <td>169</td>
          <td>1986</td>
          <td>1981</td>
          <td>30285</td>
          <td>70</td>
        </tr>
        <tr class="boss">
          <td>4</td>
          <td>Ancient Lich King</td>
          <td>109</td>
          <td>7267</td>
          <td>1449</td>
          <td>189615</td>
          <td>69</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col justify-center py-2 px-10 flex-auto">
    <div class="sf12 flex items-center content-center justify-center">
      <img class="rounded-full m-4" src="./assets/img/boss/fortress_caiross.jpg">
      <h2 class="font-semibold font-sans antialiased">Steel Fortress B.12</h2>
    </div>
    <table class="text-center sf12">
      <thead>
        <tr>
          <th>Wave</th>
          <th>Unit</th>
          <th>SPD</th>
          <th>ATK</th>
          <th>DEF</th>
          <th>HP</th>
          <th>RES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Small Crystal</td>
          <td>135</td>
          <td>1761</td>
          <td>1426</td>
          <td>21615</td>
          <td>34</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Big Crystal</td>
          <td>140</td>
          <td>1753</td>
          <td>1307</td>
          <td>15705</td>
          <td>34</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Mid boss</td>
          <td>145</td>
          <td>4289</td>
          <td>2147</td>
          <td>90990</td>
          <td>39</td>
        </tr>
        <tr class="boss">
          <td>4</td>
          <td>Ancient Tormentor</td>
          <td>150</td>
          <td>5121</td>
          <td>2529</td>
          <td>182040</td>
          <td>39</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col justify-center py-2 px-10 flex-auto">
    <div class="pc12 flex items-center content-center justify-center">
      <img class="rounded-full m-4" src="./assets/img/boss/crypt_caiross.jpg">
      <h2 class="font-semibold font-sans antialiased">Punisher Crypt B.12</h2>
    </div>
    <table class="text-center pc12">
      <thead>
        <tr>
          <th>Wave</th>
          <th>Unit</th>
          <th>SPD</th>
          <th>ATK</th>
          <th>DEF</th>
          <th>HP</th>
          <th>RES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Small Crystal</td>
          <td>160</td>
          <td>1953</td>
          <td>1402</td>
          <td>24045</td>
          <td>49</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Big Crystal</td>
          <td>155</td>
          <td>1948</td>
          <td>1250</td>
          <td>17415</td>
          <td>49</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Mid boss</td>
          <td>170</td>
          <td>4289</td>
          <td>1874</td>
          <td>101115</td>
          <td>54</td>
        </tr>
        <tr class="boss">
          <td>4</td>
          <td>Ancient Punisher</td>
          <td>175</td>
          <td>4942</td>
          <td>2338</td>
          <td>181950</td>
          <td>39</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>