<div class="full h-28 mt-12 bg-hero-background title-header flex-col bg-center flex items-center content-center justify-center">
  <h1 class="font-sans font-semibold tracking-widest text-5xl">Runes</h1>
  <app-footer></app-footer>
</div>
<div class="flex flex-ro">
  <mat-form-field>
    <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter by Rune Set / Monster / Sub Stats ..." 
    />
  </mat-form-field>
</div>

<div class="max-w-full overflow-scroll">
  <table mat-table [dataSource]="dataSource" 
  class="rune-table" 
  #matSortTotal="matSort" 
  matSort matSortActive="sell_value"
  matSortDirection="desc">

    <!-- Rune Set Column -->
    <ng-container matColumnDef="rune_set">
      <th mat-header-cell *matHeaderCellDef class="rune_set padding-right mw-40px" mat-sort-header> Rune </th>
      <td mat-cell *matCellDef="let element" class="rune_set flex items-center justify-center"
      ngClass="{{ element.extra.name }}" [style.background-image]="'url(/' + element.extra.rune_bg + ')'">
        <img class="z-10 p-4px -ml-10px"src="{{ element.slot_no.rune_img }}" />
        <img class="w-20px z-10 p-1 -ml-30px" src="{{ element.set_id.set_img }}" />
      </td>
    </ng-container>

    <!-- Monster Column -->
    <ng-container matColumnDef="extra.unit_name">
      <th mat-header-cell *matHeaderCellDef class="monster_img text-center padding-right">
        <img class="w-20px m-auto" src="../../../assets/img/icon/monster-icon.png"/>
      </th> 
      <td mat-cell *matCellDef="let element"> 
        <img *ngIf="element.extra.unit_img"
        src="https://swarfarm.com/static/herders/images/monsters/{{
          element.extra?.unit_img
        }}" class="w-40px h-40px" />
        <span style="display: none;">{{ element.extra?.unit_name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="set_id.set_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rune Set</th>
      <td mat-cell *matCellDef="let element" class="px-4">
        {{ element.set_id.set_name }}
      </td>
    </ng-container>

    <!-- Grade Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Grade </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        {{ element.class }}
        <fa-icon [icon]="star"></fa-icon>
      </td>
    </ng-container>

    <!-- Upgrade Column -->
    <ng-container matColumnDef="upgrade_curr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Upgrade </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        + {{ element.upgrade_curr }} 
      </td>
    </ng-container>

    <!-- Main Stat Column -->
    <ng-container matColumnDef="rune_main_stat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Main Stat </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        {{ element.pri_eff.pri_eff }}
        <span>+{{ element.pri_eff?.pri_eff_value }}</span>
      </td>
    </ng-container>

    <!-- Innate Stat Column -->
    <ng-container matColumnDef="innate_stat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Innate Stat </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        {{ element.prefix_eff?.type }}
        <span *ngIf="element.prefix_eff?.value > 0">+{{ element.prefix_eff?.value }}</span>
      </td>
    </ng-container>

    <!-- ATK% Column -->
    <ng-container matColumnDef="atkPercent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ATK% </th>
      <td mat-cell *matCellDef="let element" class="px-4"> 
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'ATK%'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_value + sec_eff?.sec_eff_grindstones }}%</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- ATK Flat Column -->
    <ng-container matColumnDef="atkFlat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ATK </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'ATK'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- DEF% Column -->
    <ng-container matColumnDef="defPercent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DEF% </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'DEF%'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}%</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- DEF Flat Column -->
    <ng-container matColumnDef="defFlat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DEF </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'DEF'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- HP% Column -->
    <ng-container matColumnDef="hpPercent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> HP% </th>
      <td mat-cell *matCellDef="let element" class="px-4"> 
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'HP%'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- HP Flat Column -->
    <ng-container matColumnDef="hpFlat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> HP </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'HP'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- SPD Flat Column -->
    <ng-container matColumnDef="spd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SPD </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'SPD'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- ACCURACY Flat Column -->
    <ng-container matColumnDef="accuracy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACC </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'ACC'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_value + sec_eff?.sec_eff_grindstones }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- RES Column -->
    <ng-container matColumnDef="resistance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RES </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'RES'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_value + sec_eff?.sec_eff_grindstones }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- CritRate Column -->
    <ng-container matColumnDef="critRate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CritRate </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'CRate'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_value + sec_eff?.sec_eff_grindstones }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- CritDdmg Column -->
    <ng-container matColumnDef="critDdmg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CritDmg </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <ng-container *ngFor="let sec_eff of element.sec_eff">
          <ng-container *ngIf="sec_eff.sec_eff === 'CDmg'">
            {{ sec_eff?.sec_eff }}
            <span [class.text-sw-orange]="sec_eff?.sec_eff_grindstones > 0">+{{ sec_eff?.sec_eff_total }}</span>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <!-- Rune Value Column -->
    <ng-container matColumnDef="sell_value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mana </th>
      <td mat-cell *matCellDef="let element" class="px-4">
        <span class="text-white">{{ element.sell_value }}</span>
        <img class="mana ml-3 inline" src="assets/img/mana-crystal.png" />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator
#matTablePaginatorStorage="matPaginator"
[pageSizeOptions]="[50, 200, 400, 800, 1000]"
></mat-paginator> 

