@import '../abstracts/_abstracts-dir';

table {
  width: 100%;
  overflow: scroll;

  thead,
  tbody {
    white-space: nowrap;
    
    th.mat-header-cell:last-of-type, 
    td.mat-cell:last-of-type, 
    td.mat-footer-cell:last-of-type {
      padding-right: inherit !important;
    }
    tr {
      background: $dark-grey !important;

      &.example-detail-row {
        height: 0;
      }
      
      td {

        text-align: center;

        &:nth-child(2n+1) { 
          background-color: $medium-grey;
        }

        span {
          color: #b7aa83;
        }
  
        &.Legendary {
          border-left: 2px solid orange;
        }
  
        &.Heroic {
          border-left: 2px solid #af58fa;
        }
  
        &.Rare {
          border-left: 2px solid #12e1ea;
        }
  
        &.Magic {
          border-left: 2px solid #149d1e;
        }
  
        &.Basic {
          border-left: 2px solid white;
        }
  
        &.wizard_mana,
        &.wizard_crystal {
          img {
            height: 30px !important;
            width: 30px !important;
            margin: 0px !important;
          }
        }
      }

      th {
        .mat-sort-header-container {
          justify-content: center;
        }
      }
    }
  }

  &.gb12, &.db12, &.nb12, &.sf12, &.pc12 {
    border: 1px solid #353535;
    
    thead tr th, tbody tr td {
      padding: 10px 15px !important; 
    }
  }

  .monster_img {
    width: 40px;
    padding: 0px !important;
    margin: 0px;
  
    img {
      margin: 0 auto !important;
    }
  }

  .rune_set {
    width: 40px;
    background-size: 115%;
    background-position: center;
  }

  &.run-table, &.rune-table, &.monster-table {
    tr:not(.example-detail-row) {
      height: 40px !important;
      max-height: 40px !important;

      &:not(.example-expanded-row):hover {
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
      }

      td {
        border-bottom-width: 0;
      }
    }
  }

  &.rune-table {
    th {
      text-align: center;
    }
  }
}

.title {
  .infos {
    color: $secondary-accent;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
}
  
.xsmall-header {
  width: 40px;
  text-align: center;
}
.small-header {
  width: 60px;
}
.medium-header {
  width: 70px;
  text-align: right;
}
.large-header {
  width: 100px;
  text-align: right;
}
.team-header {
  width: 200px !important;
}

.boss td {
  background-color: $dark-accent-color !important;
}

th.mat-header-cell:first-of-type, 
td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type {
  padding-left: 0 !important;
}

.mat-sort-header-arrow, [dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: inherit !important;
}