<div class="importHeader h-screen mx-auto rounded-md font-extrabold flex flex-col items-center justify-center p-6 bg-hero-background bg-center">
  <div class="flex flex-col text-2xl">
    <h1 class="app-title antialiased text-white text-center">Sw Calculator</h1>
    <h2 class="text-white text-center p-5 font-sans font-light">Import your data informations (.JSON File)</h2>
    <input style="display: none;" type="file" accept=".json" (change)="onFileLoad($event)" #fileInput />
    <div class="flex flex-wrap justify-center  my-2">
      <button class="mx-3 p-4 whitespace-nowrap rounded-md w-min text-base font-light shadow-2xl bg-accent-dark font-sans 
      tracking-wide" [disabled]="checked" (click)="fileInput.click()"> 
      Choose file
      <fa-icon class="w-5 h-5 mx-2" [icon]="folder"></fa-icon>
    </button>
    <mat-spinner [diameter]="30" *ngIf="importState == ImportState.importing"></mat-spinner>
    <span *ngIf="importState == ImportState.imported" class="mx-0 my-auto">
      <fa-icon [icon]="checkCircle"></fa-icon>
    </span>
    <button *ngIf="importState == ImportState.loaded" class="mx-3 p-4 whitespace-nowrap rounded-md w-min text-base font-light 
    shadow-2xl bg-accent-dark font-sans tracking-wide" type="button"
      (click)="importJson(); openDialog()">
      Import
      <fa-icon class="w-5 h-5 mx-2" [icon]="file"></fa-icon>
    </button>
    </div>
    <span class="text-white text-center font-sans p-5 font-light text-lg underline" [class.faded]="importState == ImportState.loaded">{{ (fileInput?.files)[0]?.name }}</span>
    <div class="importFooter flex flex-row items-center justify-around bg-gray-50 bg-opacity-10 text-base w-max rounded-md mx-auto p-4" *ngIf="this.data">
      <div class="flex items-center flex-wrap whitespace-nowrap">
        <h2 class="mx-1">{{ this.data.wizard_info.wizard_name}}</h2>
        <span class="accent mx-1">Lvl. {{ this.data.wizard_info.wizard_level}}</span>
      </div>
      /
      <div class="flex flex-row items-center flex-wrap">
        <span class="mx-1">{{ this.data.wizard_info.wizard_mana | number: '1.0-0'}}</span>
        <img class="w-6 h-6 mx-1" src="assets/img/mana-crystal.png" />
      </div>
      /
      <div class="flex flex-row items-center flex-wrap">
        <span class="mx-1">{{ this.data.wizard_info.wizard_crystal | number: '1.0-0'}}</span>
        <img class="w-6 h-6 mx-1" src="assets/img/gems-crystal.png" />
      </div>
      /
      <div class="flex flex-row items-center flex-wrap">
        <label class="mx-1">Monster</label>
        <span class="accent mx-1">{{ this.data.wizard_info.unit_slots.number }}</span>
      </div>
      /
      <div class="flex flex-row items-center flex-wrap">
        <label class="mx-1">Runes</label>
        <span class="accent mx-1">{{
        this.data.runes.length +
          this.data.unit_list.length +
          this.data.rune_craft_item_list.length
      }}</span>
      </div>
    </div> 
  </div>
</div>
<div class="flex flex-row w-full absolute bottom-0 text-center justify-center align-middle items-center">
  <button class="mx-3 p-4 whitespace-nowrap rounded-md w-min text-base font-light shadow-2xl bg-accent-dark font-sans 
  tracking-wide h-min" [disabled]="!this.data" (click)="clearData()"> 
    Clear Data
    <fa-icon class="w-5 h-5 mx-2" [icon]="trash"></fa-icon>
  </button>
  <mat-checkbox class="text-center text-xs font-light py-4 px-4" [ngModel]="checked" (ngModelChange)="onChange($event)">
    Test Without JSON <br> (Some features are not available)
  </mat-checkbox>
</div>