<h1 mat-dialog-title class="title">Importing Data</h1>
<div mat-dialog-content class="description">Please wait. The Dialog Box will automatically close. <span color="accent"> Thanks !</span></div>
<mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>