@import '../../../styles.scss';

h1 {
    color: $secondary-accent;
    text-transform: uppercase;
}

.description {
    margin-bottom: 25px;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: $clear-white !important;
} 

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: $secondary-accent !important;
}

::ng-deep .mat-dialog-container {
    background-color: black;
    opacity: 0.9;
    padding: 35px !important;
}