<div class="full h-28 mt-12 bg-hero-background title-header bg-center flex flex-col items-center content-center justify-center">
  <h1 class="font-sans font-semibold tracking-widest text-5xl">Icaru Calculator</h1>
  <app-footer></app-footer>
</div>
<div class="tricaru-wrapper">
  <span class="flex justify-center text-lg px-8 pt-4 text-sw-yellow">Adjust statistics to get enoug Def</span>
  <div class="result px-8 pt-4">
    <div class="flex flex-row flex-wrap whitespace-nowrap w-full bg-sw-softBrown text-lg">
      <div class="flex flex-col flex-1 px-4 pt-4 items-center text-white justify-between">
        <div clas="flex items-center text-left mx-2">
          <span>Min Tricaru's Def Required:</span>
          <span class="m-2 text-xl text-sw-blue">{{tricaruMinDef | number: '1.0-0'}}</span>
        </div>
        <span class="text-sm">To coop with 3 other units</span>
        <div class="flex flex-row items-center border-t mt-2">
          <div class="flex flex-1 p-4 justify-between items-center max-w-xxs" [class.notOk]="!validDefMin">
            <span class="mr-2">1st <span class="text-sw-orange">{{def | number : '1.0-0'}}</span> Def</span>
            <fa-icon *ngIf="validDefMin" class="faCheckCircle" [icon]="checkCircle"></fa-icon>
            <fa-icon *ngIf="!validDefMin" class="faTimeCircle" [icon]="timeCircle"></fa-icon>
          </div>
          <div class="flex flex-1 items-center bg-sw-brown p-4 justify-between max-w-xxs" [class.notOk]="!validSecondDefMin">
            <span class="mr-2">2nd <span class="text-sw-orange">{{defSecond | number : '1.0-0'}}</span> Def</span>
            <fa-icon *ngIf="validSecondDefMin" class="faCheckCircle" [icon]="checkCircle"></fa-icon>
            <fa-icon *ngIf="!validSecondDefMin" class="faTimeCircle" [icon]="timeCircle"></fa-icon>
          </div>
          <div class="flex flex-1 p-4 justify-between items-center max-w-xxs" [class.notOk]="!validThirdDefMin">
            <span class="mr-2">3d <span class="text-sw-orange">{{defThird | number : '1.0-0'}}</span> Def</span>
            <fa-icon *ngIf="validThirdDefMin" class="faCheckCircle" [icon]="checkCircle"></fa-icon>
            <fa-icon *ngIf="!validThirdDefMin" class="faTimeCircle" [icon]="timeCircle"></fa-icon>
          </div>
        </div> 
      </div>
      <div class="flex flex-col flex-1 px-4 pt-4 items-center text-white justify-between bg-sw-brown">
        <div clas="flex items-center text-left mx-2">
          <span>Min Tricaru's Speed Required:</span>
          <span class="m-2 text-xl text-sw-blue">170</span>
        </div>
        <span class="text-sm">To outspeed waves</span>
        <div class="flex flex-row items-center mt-2 border-t-soft">
          <div class="flex flex-1 p-4 justify-between items-center" [class.notOk]="!validDefMin">
            <span class="mr-2">Fastest Icaru <span class="text-sw-orange">{{ actualMaxSpd | number: '1.0-0'}}</span></span>
            <fa-icon *ngIf="requiredSpd" class="faCheckCircle" [icon]="checkCircle"></fa-icon>
            <fa-icon *ngIf="!requiredSpd" class="faTimeCircle" [icon]="timeCircle"></fa-icon>
          </div>
        </div> 
      </div>
      <div class="flex flex-col flex-1 px-4 pt-4 items-center text-white justify-between">
        <div clas="flex items-center text-left mx-2">
          <span>Required EHP: </span>
          <span class="m-2 text-xl text-sw-blue">81,000</span>
        </div>
        <span class="text-sm">Tank 1 hit regardless the conditions</span>
        <div class="flex flex-row items-center border-t mt-2">
          <div class="flex flex-1 p-4 justify-between items-center" [class.notOk]="!validDefMin">
            <span class="mr-2">Actual Verde EHP <span class="text-sw-orange">{{this.eHpVerde | number: '1.0-0'}}</span></span>
            <fa-icon *ngIf="validEhp" class="faCheckCircle" [icon]="checkCircle"></fa-icon>
            <fa-icon *ngIf="!validEhp" class="faTimeCircle" [icon]="timeCircle"></fa-icon>
          </div>
        </div> 
      </div>
      <div class="flex flex-col flex-1 px-4 pt-4 items-center text-white justify-between bg-sw-brown">
        <div clas="flex items-center text-left mx-2">
          <span>Verde Min Dmg /Per hit </span>
          <span class="m-2 text-xl text-sw-blue">+/- 3300</span>
        </div>
        <span class="text-sm">To defeat Dragons</span>
        <div class="flex flex-row items-center border-t-soft mt-2">
          <div class="flex flex-1 p-4 justify-between items-center" [class.notOk]="!validDefMin">
            <span class="mr-2">Actual Verde Dmg /Per hit <span class="text-sw-orange">{{ finalDmg | number: '1.0-0'}}</span></span>
            <fa-icon *ngIf="validVerdeDmg" class="faCheckCircle" [icon]="checkCircle"></fa-icon>
            <fa-icon *ngIf="!validVerdeDmg" class="faTimeCircle" [icon]="timeCircle"></fa-icon>
          </div>
        </div> 
      </div>
    </div>
    <div class="flex flex-row flex-wrap whitespace-nowrap w-full bg-sw-softBrown text-lg border-t">
      <div class="bonus flex flex-wrap px-6 pb-1">
        <div class="flex flex-row items-center text-center justify-between bg-sw-brown p-4 m-2 rounded">
          <span class="mr-2">Deter. Set</span>
          <input class="bg-transparent border border-sw-blue px-2 py-1" size="4" step="1" type="number" min="0" max="12" [(ngModel)]="tricaruDeterSetCount" #ctrl="ngModel" (ngModelChange)="onChange($event)">
        </div>
        <div class="flex flex-row items-center text-center justify-between bg-sw-brown p-4 m-2 rounded">
          <span class="mr-2">Fight Set</span>
          <input class="bg-transparent border border-sw-blue px-2 py-1" size="4" step="1" type="number" min="0" max="12" [(ngModel)]="tricaruFightSetCount" #ctrl="ngModel" (ngModelChange)="onChange($event)">
        </div>
        <div class="flex flex-row items-center text-center justify-between bg-sw-brown p-4 m-2 rounded">
          <span class="mr-2">Guild Skill</span>
          <input class="bg-transparent border border-sw-blue px-2 py-1" size="4" step="3" type="number" min="2" max="5" [(ngModel)]="guildSkill" #ctrl="ngModel" (ngModelChange)="onChange($event)">
        </div>
        <div class="flex flex-row items-center text-center justify-between bg-sw-brown p-4 m-2 rounded">
          <img class="w-20px h-20px rounded-full" src="./assets/img/verde.jpg">
          <span class="mx-2">S3 Skill Up</span>
          <input class="bg-transparent border border-sw-blue px-2 py-1" size="4" step="15" type="number" min="0" max="30" [(ngModel)]="skillUp" #ctrl="ngModel" (ngModelChange)="onChange($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="rune_artifact_stats flex flex-wrap px-6 py-2">
    <div class="icaru flex flex-col p-4 bg-sw-softBrown rounded m-2 min-w-96">
      <div class="icaru_title flex flex-row items-center text-center bg-sw-brown p-4 rounded">
        <img src="./assets/img/icaru.jpg">
        <h2 class="text-2xl px-2">Icaru</h2>
      </div>
      <div class="icaru-flex flex flex-row">
        <div class="flex flex-col">
          <div class="icaru_stats_first flex flex-col bg-sw-brown p-2 mt-4 rounded text-lg">
            <div class="level flex pb-2">
              <div class="w-full flex justify-between px-2">
                <span>Lvl. {{icaru.unit_level}}</span>
                <span class="flex justify-start text-sw-softBrown">Attack</span>
              </div>
            </div>
            <div class="hp flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">HP</span>
                <span>9885</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="hp" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="atk flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">ATK</span>
                <span>637</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="atk" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="def flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">DEF</span>
                <span>736</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="def" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="speed flex pb-4">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">SPD</span>
                <span>108</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="spd" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <br>
            <div class="critRate flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">Crit Rate</span>
                <span>15</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="crit_rate" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="critDamage flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">Crit Damage</span>
                <span>50</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="crit_damage" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
          </div>
          <div class="flex flex-row bg-sw-brown p-2 mt-4 rounded text-lg justify-center" *ngIf="this.data">
            <div *ngFor="let rune of this.icaru.runes" (click)="onSelect(rune)">
              <div class="rune_img flex items-center justify-start cursor-pointer">
                <img src="{{ rune.slot_no.rune_img }}" />
                <img class="rune_element w-20px h-20px absolute ml-10px" ngClass="_{{ rune.slot_no.id }}"
                  src="{{ rune.set_id.set_img }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="icaru_stats_second flex flex-col bg-sw-brown p-2 mt-4 mx-4 rounded text-lg">
            <div class="level flex pb-2">
              <div class="w-full flex justify-between px-2">
                <span>Lvl. {{secondIcaru.unit_level}}</span>
                <span class="flex justify-start text-sw-softBrown">Attack</span>
              </div>
            </div>
            <div class="hp flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">HP</span>
                <span>9885</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="hpSecond" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="atk flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">ATK</span>
                <span>637</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="atkSecond" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="def flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">DEF</span>
                <span>736</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="defSecond" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="speed flex pb-4">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">SPD</span>
                <span>108</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="spdSecond" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <br>
            <div class="critRate flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">Crit Rate</span>
                <span>15</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="crit_rateSecond" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="critDamage flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">Crit Damage</span>
                <span>50</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="crit_damageSecond" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
          </div>
          <div class="second-icaru-rune flex flex-row bg-sw-brown p-2 mt-4 mx-4 rounded text-lg justify-center" *ngIf="this.data">
            <div *ngFor="let rune of this.secondIcaru.runes" (click)="onSelect(rune)">
              <div class="rune_img flex items-center justify-start cursor-pointer">
                <img src="{{ rune.slot_no.rune_img }}" />
                <img class="rune_element w-20px h-20px absolute ml-10px" ngClass="_{{ rune.slot_no.id }}"
                  src="{{ rune.set_id.set_img }}"
                />
              </div>
            </div> 
          </div>
        </div>
        <div class="flex flex-col">
          <div class="icaru_stats_third flex flex-col bg-sw-brown p-2 mt-4 rounded text-lg">
            <div class="level flex pb-2">
              <div class="w-full flex justify-between px-2">
                <span>Lvl. {{thirdIcaru.unit_level}}</span>
                <span class="flex justify-start text-sw-softBrown">Attack</span>
              </div>
            </div>
            <div class="hp flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">HP</span>
                <span>9885</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="hpThird" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="atk flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">ATK</span>
                <span>637</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="atkThird" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="def flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">DEF</span>
                <span>736</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="defThird" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="speed flex pb-4">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">SPD</span>
                <span>108</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="spdThird" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <br>
            <div class="critRate flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">Crit Rate</span>
                <span>15</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="crit_rateThird" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
            <div class="critDamage flex">
              <div class="w-7/12 flex justify-between px-2">
                <span class="text-sw-yellow">Crit Damage</span>
                <span>50</span>
              </div>
              <div class="w-5/12 px-2">
                <span class="flex justify-start text-sw-green">
                  +<input type="number" min="0" step="1"
                      [(ngModel)]="crit_damageThird" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
                </span>
              </div>
            </div>
          </div>
          <div class="flex flex-row bg-sw-brown p-2 mt-4 rounded text-lg justify-center" *ngIf="this.data">
            <div *ngFor="let rune of this.thirdIcaru.runes" (click)="onSelect(rune)">
              <div class="rune_img flex items-center justify-start cursor-pointer">
                <img src="{{ rune.slot_no.rune_img }}" />
                <img class="rune_element w-20px h-20px absolute ml-10px" ngClass="_{{ rune.slot_no.id }}"
                  src="{{ rune.set_id.set_img }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="verdehile flex flex-1 flex-col p-4 bg-sw-softBrown rounded m-2 min-w-96">
      <div class="verdeList" *ngIf="selectedVerde == 0 || selectedVerde == null">
        <ng-container *ngFor="let verde of verdeList">
          <div class="verdehile_title flex flex-row flex-wrap justify justify-between items-center text-center bg-sw-brown px-4 py-4 rounded">
            <img src="./assets/img/verde.jpg">
            <span class="ml-2">Verdehile</span> 
            <span class="ml-2">Lvl. {{verde.unit_level}}</span>
            <button class="mx-3 p-2 whitespace-nowrap rounded-md w-min text-base font-light 
            shadow-2xl bg-sw-blue font-sans tracking-wide" (click)="onVerdeSelect(verde)">Select Verde</button>
            <div class="flex w-full justify-center">
              <div *ngFor="let rune of this.verde.runes" (click)="onSelect(rune)">
                <div class="rune_img flex items-center justify-start cursor-pointer mt-2">
                  <img src="{{ rune.slot_no.rune_img }}" class="cursor-pointer"/>
                  <img class="rune_element w-20px h-20px absolute ml-10px" ngClass="_{{ rune.slot_no.id }}"
                    src="{{ rune.set_id.set_img }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-container> 
      </div>
      <div class="verdehile_title flex flex-row justify-between items-center text-center bg-sw-brown p-4 rounded" *ngIf="verde && showSelectVerde && verdeList?.length == 0 || selectedVerde !== 0 && selectedVerde !== null || !this.data">
        <img src="./assets/img/verde.jpg">
        <h2 class="text-2xl px-2">Verdehile</h2>
        <button class="mx-3 p-2 whitespace-nowrap rounded-md w-min text-base font-light 
        shadow-2xl bg-sw-blue font-sans tracking-wide" (click)="showSelect()" *ngIf="verdeList?.length">Change Verde</button>
      </div>
      <div class="flex flex-col" *ngIf="verde && showSelectVerde && verdeList?.length == 0 || selectedVerde !== 0 && selectedVerde !== null || !this.data">
        <div class="verde_stats_first flex flex-1 flex-col bg-sw-brown p-2 mt-4 rounded text-lg">
          <div class="level flex pb-2">
            <div class="w-full flex justify-between px-2">
              <span>Lvl. {{verde.unit_level}}</span>
              <span class="flex justify-start text-sw-softBrown">Attack</span>
            </div> 
          </div>
          <div class="hp flex">
            <div class="w-7/12 flex justify-between px-2">
              <span class="text-sw-yellow">HP</span>
              <span>9885</span>
            </div>
            <div class="w-5/12 px-2">
              <span class="flex justify-start text-sw-green">
                +<input type="number" min="0" step="1"
                    [(ngModel)]="hpVerde" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
              </span>
            </div>
          </div>
          <div class="atk flex">
            <div class="w-7/12 flex justify-between px-2">
              <span class="text-sw-yellow">ATK</span>
              <span>812</span>
            </div>
            <div class="w-5/12 px-2">
              <span class="flex justify-start text-sw-green">
                +<input type="number" min="0" step="1"
                    [(ngModel)]="atkVerde" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
              </span>
            </div>
          </div>
          <div class="def flex">
            <div class="w-7/12 flex justify-between px-2">
              <span class="text-sw-yellow">DEF</span>
              <span>505</span>
            </div>
            <div class="w-5/12 px-2">
              <span class="flex justify-start text-sw-green">
                +<input type="number" min="0" step="1"
                    [(ngModel)]="defVerde" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
              </span>
            </div>
          </div>
          <div class="speed flex pb-4">
            <div class="w-7/12 flex justify-between px-2">
              <span class="text-sw-yellow">SPD</span>
              <span>99</span>
            </div>
            <div class="w-5/12 px-2">
              <span class="flex justify-start text-sw-green">
                +<input type="number" min="0" step="1"
                    [(ngModel)]="spdVerde" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
              </span>
            </div>
          </div>
          <br>
          <div class="critRate flex">
            <div class="w-7/12 flex justify-between px-2">
              <span class="text-sw-yellow">Crit Rate</span>
              <span>15</span>
            </div>
            <div class="w-5/12 px-2">
              <span class="flex justify-start text-sw-green">
                +<input type="number" min="0" step="1"
                    [(ngModel)]="crit_rateVerde" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
              </span>
            </div>
          </div>
          <div class="critDamage flex">
            <div class="w-7/12 flex justify-between px-2">
              <span class="text-sw-yellow">Crit Damage</span>
              <span>50</span>
            </div>
            <div class="w-5/12 px-2">
              <span class="flex justify-start text-sw-green">
                +<input type="number" min="0" step="1"
                    [(ngModel)]="crit_damageVerde" #ctrl="ngModel" (ngModelChange)="onChange($event)" class="bg-transparent" size="4">
              </span>
            </div>
          </div>
        </div>
        <div class="flex flex-row bg-sw-brown p-2 mt-4 justify-center rounded text-lg" *ngIf="this.data">
          <div *ngFor="let rune of this.verde.runes" (click)="onSelect(rune)">
              <div class="rune_img flex items-center justify-start cursor-pointer">
                <img src="{{ rune.slot_no.rune_img }}" class="cursor-pointer"/>
                <img class="rune_element w-20px h-20px absolute ml-10px" ngClass="_{{ rune.slot_no.id }}"
                  src="{{ rune.set_id.set_img }}"
                />
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="displayed_runes flex flex-1 flex-col p-4 bg-sw-softBrown rounded m-2" *ngIf="this.data">
      <div *ngIf="selectedRunes" [(ngModel)]="selectedRunes" name="fieldName" ngDefaultControl>
        <div class="flex flex-1">
          <div class="rune flex flex-col w-full border border-sw-orange bg-clearBlack justify-between">
            <div class="rune_main_stat flex flex-col justify-center w-full items-center mb-2">
              <span class="text-sw-orange p-4">+{{ selectedRunes.upgrade_curr }} {{ selectedRunes.set_id.set_name }} ({{
                selectedRunes.slot_no.id
              }})</span>
              <div class="rune_img flex flex-nowrap flex-col w-24">
                <span class="flex w-full text-white justify-start ml-1 mt-1 z-10 px-2 -mb-10px">
                  <img class="wi-1 hi-1" src="assets/img/rune/star-awakened.png">
                  {{ selectedRunes?.class }}
                </span>
                <div class="rune_img flex items-center justify-center relative">
                  <img class="absolute z-0 w-full h-auto" src="{{ selectedRunes.extra.rune_bg }}">
                  <img class="z-10 w-50px h-50px" src="{{ selectedRunes.slot_no.rune_img }}" />
                  <img class="rune_element absolute w-20px h-20px z-10" ngClass="_{{ selectedRunes.slot_no.id }}"
                    src="{{ selectedRunes.set_id.set_img }}"
                  />
                </div>
                <span class="flex w-full justify-end mb-1 z-10 text-white px-2 -mt-5px">+{{ selectedRunes.upgrade_curr }}</span>
              </div>
              <div class="flex justify-center flex-row px-4 pt-4 pb-1 text-lg">
                <span class="text-sw-orange">
                  {{ selectedRunes.pri_eff.pri_eff | uppercase }}
                </span>
                <span class="text-white ml-4">
                  +{{ selectedRunes.pri_eff.pri_eff_value }}
                </span>
              </div>
              <span class="text-sw-yellow px-4 py-1" *ngIf="selectedRunes.prefix_eff.value > 0">
                {{ selectedRunes.prefix_eff?.type | uppercase }} +{{
                  selectedRunes.prefix_eff?.value
                }}
              </span>
              <span class="text-sw-yellow px-4 py-1" *ngIf="selectedRunes.prefix_eff.value == 0">
                -/-
              </span>
            </div>
            <div class="rune_secondary_stat flex flex-col justify-between w-2/4 px-6 pb-2 min-h-96">
              <ng-container *ngFor="let sub of selectedRunes.sec_eff">
                <div class="flex flex-row justify-between">
                  <span class="text-sw-yellow">{{ sub.sec_eff }}</span>
                  <span
                    class="text-white ml-4"
                    [class.text-sw-orange]="sub?.sec_eff_grindstones > 0"
                  >
                    +{{ sub.sec_eff_value }}
                  </span>
                </div>
              </ng-container>
            </div>
            <div class="flex w-full p-2 bg-gray-800 items-center justify-center mt-2">
              <img class="mana" src="assets/img/mana-crystal.png" />
              <span class="text-center text-white ">{{ selectedRunes.sell_value | number: "2." }}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!selectedRunes" class="relative"> 
        <span class="absolute w-full h-full flex justify-center items-center text-4xl text-sw-orange">Select Runes</span>
        <div class="flex flex-1 opacity-10 gray-filter">
          <div class="rune flex flex-col w-full border border-sw-orange bg-clearBlack justify-between">
            <div class="rune_main_stat flex flex-col justify-center w-full items-center mb-2">
              <span class="text-sw-orange p-4">+15 Set Name (Rune Place)</span>
              <div class="rune_img bg-sw-softBrown flex flex-nowrap flex-col w-24">
                <span class="flex w-full text-white justify-start ml-1 mt-1 z-10 px-2 -mb-10px">
                  <img class="wi-1 hi-1" src="assets/img/rune/star-awakened.png">
                  6
                </span>
                <div class="rune_img flex items-center justify-center relative">
                  <img class="absolute z-0 w-full h-auto" src="assets/img/rune/bg_rare.png">
                  <img class="z-10 w-50px h-50px" src="assets/img/rune/rune_0.png" />
                  <img class="rune_element absolute w-20px h-20px z-10"
                    src="assets/img/rune/rune_violent.png"
                  />
                </div>
                <span class="flex w-full justify-end mb-1 z-10 text-white px-2 -mt-5px">+15</span>
              </div>
              <div class="flex justify-center flex-row px-4 pt-4 pb-1 text-lg">
                <span class="text-sw-orange">
                  MAIN TYPE
                </span>
                <span class="text-white ml-4">
                  + VALUE
                </span>
              </div>
              <span class="text-sw-yellow px-4 py-1" >
                INNATE TYPE + VALUE
              </span>
            </div>
            <div class="rune_secondary_stat flex flex-col justify-between w-2/4 px-6 pb-2 min-h-96">
                <div class="flex flex-row justify-between">
                  <span class="text-sw-yellow">SUB</span>
                  <span
                    class="text-white ml-4"
                  >
                    + VALUE
                  </span>
                </div>
                <div class="flex flex-row justify-between">
                  <span class="text-sw-yellow">SUB</span>
                  <span
                    class="text-white ml-4"
                  >
                    + VALUE
                  </span>
                </div>
                <div class="flex flex-row justify-between">
                  <span class="text-sw-yellow">SUB</span>
                  <span
                    class="text-white ml-4"
                  >
                    + VALUE
                  </span>
                </div>
                <div class="flex flex-row justify-between">
                  <span class="text-sw-yellow">SUB</span>
                  <span
                    class="text-white ml-4"
                  >
                    + VALUE
                  </span>
                </div>
            </div>
            <div class="flex w-full p-2 bg-gray-800 items-center justify-center mt-2">
              <img class="mana" src="assets/img/mana-crystal.png" />
              <span class="text-center text-white ">RUNE VALUE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap px-6 pb-2">
    <div class="artifact1 flex flex-col flex-1 min-w-96 w-full bg-sw-softBrown rounded mx-2 mb-2">
      <div class="artifact_title flex flex-row items-center text-center bg-sw-brown p-4 rounded">
        <img src="./assets/img/artifacts/rarity/artifact_element_legendary.png">
        <h2 class="text-2xl px-2">Artifact</h2>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row justify-between mx-4 my-2 rounded align-middle items-center">
          <div class="flex flex-row text-left justify-between bg-sw-brown p-4 flex-1">
            <span class="mr-2 w-2/4 whitespace-nowrap">Additional Damage by + N% of Def</span>
            <input class="bg-transparent border border-sw-orange px-2 py-1" size="4" step="1" type="number" min="0" [(ngModel)]="dmgBonusPerDef" #ctrl="ngModel" (ngModelChange)="onChange($event)">
          </div>
          <div class="flex flex-row text-left justify-between bg-sw-brown p-4 flex-1 mx-2">
            <span class="mr-2 w-2/4 whitespace-nowrap">Additional Damage by + N% of Hp</span> 
            <input class="bg-transparent border border-sw-orange px-2 py-1" size="4" step="0.1" type="number" min="0" [(ngModel)]="dmgBonusPerHp" #ctrl="ngModel" (ngModelChange)="onChange($event)">
          </div>
          <div class="flex flex-row text-left justify-between bg-sw-brown p-4 flex-1">
            <span class="mr-2 w-2/4 whitespace-nowrap">Additional Damage by + N% of Speed</span>
            <input class="bg-transparent border border-sw-orange px-2 py-1" size="4" step="1" type="number" min="0" [(ngModel)]="dmgBonusPerSpeed" #ctrl="ngModel" (ngModelChange)="onChange($event)">
          </div>
        </div>
        <div class="flex flex-row justify-between mx-4 my-2 rounded align-middle items-center">
          <div class="flex flex-row text-left justify-between bg-sw-brown p-4 flex-1">
            <span class="mr-2 w-2/4 whitespace-nowrap">Additional Damage by + N% of Atk</span>
            <input class="bg-transparent border border-sw-orange px-2 py-1" size="4" step="1" type="number" min="0" [(ngModel)]="dmgBonusPerAtk" #ctrl="ngModel" (ngModelChange)="onChange($event)">
          </div>
          <div class="flex flex-row text-left justify-between bg-sw-brown p-4 flex-1 mx-2">
            <span class="mr-2 w-2/4 whitespace-nowrap">Skill 1 Bonus Crit Damage</span>
            <input class="bg-transparent border border-sw-orange px-2 py-1" size="4" step="1" type="number" min="0" [(ngModel)]="skillCrit" #ctrl="ngModel" (ngModelChange)="onChange($event)">
          </div>
          <div class="flex flex-row text-left justify-between bg-sw-brown p-4 flex-1">
            <span class="mr-2 w-2/4 whitespace-nowrap">Damage Dealt on Fire + N%	</span>
            <input class="bg-transparent border border-sw-orange px-2 py-1" size="4" step="1" type="number" min="0" [(ngModel)]="dmgDealtOnFire" #ctrl="ngModel" (ngModelChange)="onChange($event)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buildings flex flex-wrap px-6 mb-8">
    <div class="building flex flex-row flex-wrap text-lg  bg-sw-softBrown rounded py-4 mx-2 w-full">
      <ng-container *ngFor="let bats of building">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded" *ngIf="bats.master_id.name && bats.lvl.type !== 'Wind Atk'">
          <div class="flex flex-row align-middle items-center">  
            <img class="w-16 h-16 p-1 rounded-full" src="{{bats.master_id.img}}">
            <span class="text-sw-yellow p-1">{{bats.master_id.name}}</span>
          </div>
          <div class="flex flex-wrap flex-row items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'Speed'" name="speed_building" id="speed" [(ngModel)]="selectSpdBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemSpdBuilding" [ngValue]="item.value"
                [selected]="building[3]?.lvl.Speed == item.value">{{item.value |json}}</option>
            </select>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'Fire Atk'" id="fireAttack" [(ngModel)]="selectFireBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemFireBuilding" [ngValue]="item.value"
                [selected]="building[5]?.lvl.FireAttack == item.value">{{item.value |json}}</option>
            </select>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'Water Atk'" id="waterAttack" [(ngModel)]="selectWaterBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemWaterBuilding" [ngValue]="item.value"
                [selected]="building[4]?.lvl.WaterAttack == item.value">{{item.value |json}}</option>
            </select>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'Atk'" id="attack" [(ngModel)]="selectAttackBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemAttackBuilding" [ngValue]="item.value"
                [selected]="building[6]?.lvl.Attack == item.value">{{item.value |json}}</option>
            </select>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'C.Dmg'" id="Crit Damage" [(ngModel)]="selectCritBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemCritBuilding" [ngValue]="item.value"
                [selected]="building[7]?.lvl.CritDamage == item.value">{{item.value |json}}</option>
            </select>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'Def'" id="Def" [(ngModel)]="selectDefBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemDefBuilding" [ngValue]="item.value"
                [selected]="building[8]?.lvl.Def == item.value">{{item.value |json}}</option>
            </select>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" *ngIf="bats.lvl.type == 'Hp'" id="Hp" [(ngModel)]="selectHpBuilding"
              (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemHpBuilding" [ngValue]="item.value"
                [selected]="building[10]?.lvl.Hp == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">{{bats.lvl.type}}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isHpBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/crystal_altar.png">
            <span class="text-sw-yellow p-1">Crystal Altar</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectHpBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemHpBuilding" [ngValue]="item.value"
                [selected]="building[10]?.lvl.Hp == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">Hp</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isDefBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/guardstone.png">
            <span class="text-sw-yellow p-1">Guardstone</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectDefBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemDefBuilding" [ngValue]="item.value"
                [selected]="building[8]?.lvl.Def == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">Def</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isCritBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/fallen_ancient_guardian.png">
            <span class="text-sw-yellow p-1">Fallen Ancient Guardian</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectCritBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemCritBuilding" [ngValue]="item.value"
                [selected]="building[7]?.lvl.CritDamage == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">C.Dmg</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isAtkBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/ancient_sword.png">
            <span class="text-sw-yellow p-1">Ancient Sword</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectAttackBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemAttackBuilding" [ngValue]="item.value"
                [selected]="building[6]?.lvl.Attack == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">Atk</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isFireAtkBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/fallen_ancient_guardian.png">
            <span class="text-sw-yellow p-1">Fire Sanctuary</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectFireBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemFireBuilding" [ngValue]="item.value"
                [selected]="building[5]?.lvl.FireAttack == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">Fire Atk</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isWaterAtkBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/water_sanctuary.png">
            <span class="text-sw-yellow p-1">Water Sanctuary</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectWaterBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemWaterBuilding" [ngValue]="item.value"
                [selected]="building[4]?.lvl.WaterAttack == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">Water Atk</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isSpeedBuilding == false">
        <div class="flex flex-col items-center flex-1 mx-4 text-center bg-sw-brown border border-sw-yellow rounded">
          <div class="flex flex-row align-middle items-center">
            <img class="w-16 h-16 p-1 rounded-full" src="./assets/img/buildings/sky_tribe_totem.png">
            <span class="text-sw-yellow p-1">Sky Tribe Totem</span>
          </div>
          <div class="flex flex-row flex-wrap items-center p-1 justify-center">
            <fa-icon class="px-2" [icon]="plusCircle"></fa-icon>
            <select class="bg-transparent border-2 border-sw-softBrown w-20" [(ngModel)]="selectSpdBuilding" (ngModelChange)="onChange($event)">
              <option *ngFor="let item of itemSpdBuilding" [ngValue]="item.value"
                [selected]="building[3]?.lvl.Speed == item.value">{{item.value |json}}</option>
            </select>
            <span class="p-2">Speed</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="text-center p-4 w-full">
  <span><a href="https://www.reddit.com/r/summonerswar/comments/ivt9gv/triple_icaru_min_stat_requirement_math/" class="text-center" target="_blank">Based on a Reddit post made by Shinedday</a></span>
</div>