//# Flexbox Rules

.flex {
  display: flex;
  
  /* Justify-content */
  &.center {
    justify-content: center;
  }
  &.around {
    justify-content: space-around;
  }
  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }

  /* Flex-direction */
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }

  /* Flex-wrap */
  &.wrap {
    flex-wrap: wrap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }

  /* Align-Items */
  .baseline {
    align-items: baseline !important;
  }
}
