@media screen and (max-width: 640px) {
  .importHeader {
    h1 {
      font-size: 2.25rem !important;
      line-height: 2.5rem !important;
    }
    h2 {
      font-size: 1rem !important;;
      line-height: 1.5rem !important;;
    }
  }
  .bg-hero-background {
    &.title-header {
      h1 {
        display: none;
      }
    }
  }
  .importFooter {
    display: none !important;
  }
  
  .bj5-wrapper, .tricaru-wrapper {
    span {
      text-align: center;
      margin: 5px 0;
    }
   >div, span {
      padding: 0px !important;
    }
    .result div {
      >div {
        min-width: 100%;
      }
    }
    .baleygr, .icaru, .artifact1, .artifact2, .bonus, .buildings .building, .verdehile, .displayed_runes {
      margin: 0px !important;
      width: 100% !important;
    }
    .building div {
      flex-direction: row !important;
      width: 100% !important;

      span {
        white-space: pre !important;
      }
    }
    .icaru-flex {
      flex-direction: column !important;

      .icaru_stats_second, .second-icaru-rune {
        margin: 1rem 0 0 0!important;
      }
    }
  }
}

.app-title {
  font-size: 4vw !important;
  line-height: 1;
}