//# Typography Rules

html,
body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 14px;
}

h1 {
  font-size: 4rem;
  margin: 0;
  letter-spacing: 1rem;
  // font-family: "Century Gothic", 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

a, .accent {
  color: $secondary-accent;
  text-decoration: none;
}

.green-icon {
  color: green;
}
.red-icon {
  color: red;
}