<!-- <h1 mat-dialog-title class="title">Parameters</h1>
<div mat-dialog-content class="description">Choose custom parameters to filter your search.</div>
<div class="flex-wrapper">
    <div class="isMonstersStars">
        <mat-checkbox #monsterStars></mat-checkbox>
        <span class="label_monster" [class.isChecked]="!monsterStars.checked">Include monsters above :
            <mat-select>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
            </mat-select>
            <fa-icon [icon]="star"></fa-icon>
        </span>
    </div>
    <div class="isMonstersElem">
        <mat-checkbox #monstersElem></mat-checkbox>
        <span class="label_monster" [class.isChecked]="!monstersElem.checked">Filter by element :
            <mat-select>
                <mat-option value="1">Wind</mat-option>
                <mat-option value="2">Water</mat-option>
                <mat-option value="3">Fire</mat-option>
                <mat-option value="4">Light</mat-option>
                <mat-option value="5">Dark</mat-option>
            </mat-select>
        </span>
    </div>
</div>

<button mat-flat-button color="accent" type="button">Save</button> -->