<div class="full h-28 mt-12 bg-hero-background title-header flex-col bg-center flex items-center content-center justify-center">
  <h1 class="font-sans font-semibold tracking-widest text-5xl">Monsters</h1>
  <app-footer></app-footer>
</div>

<div class="container table_container min-w-full">
  <mat-form-field>
    <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter ..."
    />
  </mat-form-field>
  <div class="max-w-full overflow-scroll">
    <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="monster-table"
    #matSecSort="matSort" 
    multiTemplateDataRows
    >
    
    <ng-container matColumnDef="unit_master_id.image">
      <th
      mat-header-cell
      *matHeaderCellDef
      class="monster_img padding-right"
      ></th>
      <td mat-cell *matCellDef="let element" class="monster_img">
        <img
        src="https://swarfarm.com/static/herders/images/monsters/{{
          element.unit_master_id.image
        }}"
        />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="unit_master_id.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element" class="w-0 px-4">
        {{ element.unit_master_id.name }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="unit_runes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="flex justify-center">
        <img *ngIf="element.runes.length > 0" class="w-40px h-40px" src="assets/img/rune/runes.png" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="unit_level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lvl</th>
      <td mat-cell *matCellDef="let element" class="px-4">{{ element.unit_level }}</td>
    </ng-container>
    
    <ng-container matColumnDef="atk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Atk</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_atk}} + {{element.atk - element.unit_master_id.base_atk | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.atk | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="def">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Def</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_def}} + {{element.def - element.unit_master_id.base_def | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.def | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="spd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spd</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_spd}} + {{element.spd - element.unit_master_id.base_spd | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.spd | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="unit_master_id.hp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HP</th>
      <td mat-cell *matCellDef="let element" class="px-4">
        {{ element.unit_master_id.hp | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="critical_damage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Crit. Dmg</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_crit_damage}} + {{element.critical_damage - element.unit_master_id.base_crit_damage | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.critical_damage | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="critical_rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Crit. Rate</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_crit_rate}} + {{element.critical_rate - element.unit_master_id.base_crit_rate | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.critical_rate | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="resist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Res</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_res}} + {{element.resist - element.unit_master_id.base_res | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.resist | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="accuracy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acc</th>
      <td mat-cell *matCellDef="let element" class="px-4" matTooltip="{{element.unit_master_id.base_accuracy}} + {{element.accuracy - element.unit_master_id.base_accuracy | number: '1.0-0'}}" matTooltipPosition="above">
        {{ element.accuracy | number: "1.0-0" }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="runes">
      <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
      >
      <div
      class="rune_wrapper"
      [@detailExpand]="
      element == expandedElement ? 'expanded' : 'collapsed'
      "
      >
      <div class="flex flex-1 min-w-full">
        <ng-container class="flex" *ngFor="let rune of element.runes">
          <div class="rune flex flex-col w-full border border-sw-orange bg-clearBlack justify-between">
            <div class="rune_main_stat flex flex-col justify-center w-full items-center mb-2">
              <span class="text-sw-orange p-4">+{{ rune?.upgrade_curr }} {{ rune.set_id.set_name }} ({{
                rune?.slot_no.id
              }})</span>
              <div class="rune_img flex flex-nowrap flex-col w-24">
                <span class="flex w-full text-white justify-start ml-1 mt-1 z-10 px-2 -mb-10px">
                  <img class="wi-1" src="assets/img/rune/star-awakened.png">
                  {{ rune?.class }}
                </span>
                <div class="rune_img flex items-center justify-center relative">
                  <img class="absolute z-0 w-full" src="{{ rune.extra.rune_bg }}">
                  <img class="z-10 w-50px" src="{{ rune.slot_no.rune_img }}" />
                  <img class="rune_element w-20px absolute z-10" ngClass="_{{ rune.slot_no.id }}"
                  src="{{ rune.set_id.set_img }}"
                  />
                </div>
                <span class="flex w-full justify-end mb-1 z-10 text-white px-2 -mt-5px">+{{ rune?.upgrade_curr }}</span>
              </div>
              <div class="flex justify-center flex-row px-4 pt-4 pb-1 text-lg">
                <span class="text-sw-orange">
                  {{ rune.pri_eff.pri_eff | uppercase }}
                </span>
                <span class="text-white ml-4">
                  +{{ rune.pri_eff.pri_eff_value }}
                </span>
              </div>
              <span class="text-sw-yellow px-4 py-1" *ngIf="rune.prefix_eff.value > 0">
                {{ rune.prefix_eff?.type | uppercase }} +{{
                  rune.prefix_eff?.value
                }}
              </span>
              <span class="text-sw-yellow px-4 py-1" *ngIf="rune.prefix_eff.value == 0">
                -/-
              </span>
            </div>
            <div class="rune_secondary_stat flex flex-col justify-between w-2/4 px-6 min-h-96">
              <ng-container *ngFor="let sub of rune.sec_eff">
                <div class="flex flex-row justify-between">
                  <span class="text-sw-yellow">{{ sub?.sec_eff }}</span>
                  <span
                  class="text-white ml-4"
                  [class.text-sw-orange]="sub?.sec_eff_grindstones > 0"
                  >
                  +{{ sub?.sec_eff_value + sub?.sec_eff_grindstones }}
                </span>
              </div>
            </ng-container>
          </div>
          <div class="flex w-full p-2 bg-gray-800 items-center justify-center mt-2">
            <img class="mana" src="assets/img/mana-crystal.png" />
            <span class="text-center text-white ">{{ rune?.sell_value | number: "2." }}</span>
          </div>
        </div>
      </ng-container>
      <div class="flex flex-col">
        <ng-container *ngFor="let artifact of element.artifacts">
          <div class="artifact flex flex-col border border-sw-orange bg-clearBlack justify-between mw-28em flex-1">
            <div class="artifact_main_stat w-full flex flex-col justify-center items-center mb-2">
              <span class="text-sw-orange px-4 pt-4">+{{ artifact?.level }}
                <ng-container *ngIf="artifact.slot == 1">
                  {{artifact.attribute.element}}
                </ng-container>
                <ng-container *ngIf="artifact.slot == 2">
                  {{artifact.unit_style.archetype}}
                </ng-container>
                Artifact
              </span>
              <div class="rune_img flex justify-around flex-nowrap flex-row w-full px-6 align-middle items-center">
                <div class="rune_img flex items-center justify-center relative">
                  <img *ngIf="artifact.slot == 1" class="artifact_element absolute wi-1" src="{{artifact.attribute.elementImg}}">
                  <img *ngIf="artifact.slot == 2" class="artifact_element absolute wi-1"  src="{{artifact.unit_style.archetypeImg}}">
                  <img *ngIf="artifact.slot == 1" class="artifact_element" src="../../../assets/img/artifacts/rarity/artifact_element_legendary.png">
                  <img *ngIf="artifact.slot == 2" class="artifact_element" src="../../../assets/img/artifacts/rarity/artifact_type_legendary.png">
                </div>
                <div class="flex flex-row justify-between">
                  <span class="px-2 text-white">{{artifact.pri_effect.main}}</span>
                  <span>+{{artifact.pri_effect.value}}</span>
                </div>
              </div>
            </div>
            <div class="flex flex-col flex-1 justify-center p-4">
              <ng-container *ngFor="let sec_eff of artifact.sec_effects">
                <span class="text-white">{{sec_eff.main}}</span>
              </ng-container>
            </div>
          </div> 
        </ng-container>
      </div>
    </div>
  </div>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
  mat-row
  *matRowDef="let element; columns: displayedColumns"
  class="example-element-row"
  [class.example-expanded-row]="expandedElement === element"
  (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
  mat-row
  *matRowDef="let row; columns: ['runes']"
  class="example-detail-row"
  ></tr>
    </table>
  </div>
<mat-paginator [pageSizeOptions]="[25, 50, 100, 200, 500]"></mat-paginator>
</div>

