//# Scss Variables

/* COLORS */

/* GREY */
$dark-grey: #121212; //Background
$medium-grey: #1d1d1d; //Elements
$grey: #353535;
$clear-grey: #959595;

/* WHITE */
$clear-white: #f0f0f0;
$white: white;

/* ACCENT */
$accent-colorful: #ff0055;
$accent-color: #680023;
$dark-accent-color: #680023;
$pastel-accent-color: #8d4c62;
$secondary-accent: orange;
$pastel-accent: #ffd280;
