<!-- <div class="navbar-mobile flex flex-col items-end justify-center py-6 absolute right-0 top-2 w-60 z-50">
  <svg class="ham hamRotate ham8 text-white z-50 w-16 mr-4" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')" (click)="showHideNav()">
    <path
          class="line top"
          d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
    <path
          class="line middle"
          d="m 30,50 h 40" />
    <path
          class="line bottom"
          d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
  </svg>  
  <div class="flex w-full max-w-xs p-4 absolute z-40 top-0 bg-clearBlack bg-opacity-80 rounded-md pb-6 opacity-0 mt-4 shadow-xl transition duration-400 ease-in-out pointer-events-none" [class.active]="show">
    <ul class="flex flex-col w-full">
      <li class="my-px">
        <a routerLink="/"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 bg-gray-100">
          <span class="flex items-center justify-center text-lg text-gray-400">
            <svg fill="none"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               viewBox="0 0 24 24"
               stroke="currentColor"
               class="h-6 w-6">
              <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </span>
          <span class="ml-3">Home</span>
        </a>
      </li>
      <li class="my-px h-10" *ngIf="!checked">
        <span class="flex font-medium text-sm text-gray-100 px-4 my-4 uppercase">Wizard Infos</span>
      </li>
      <li class="my-px h-8" *ngIf="!checked">
        <a routerLink="/monsters"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
           <img class="w-6 h-6" src="./assets/img/icon/monster-icon.png">
          <span class="ml-3">Monsters</span>
        </a>
      </li>
      <li class="my-px h-8" *ngIf="!checked">
        <a routerLink="/rune-sell"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
           <img class="w-6 h-6" src="./assets/img/icon/rune-icon.png">
          <span class="ml-3">Runes</span>
        </a>
      </li>
      <li class="my-px h-8">
        <a routerLink="/bj5"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
           <img class="w-6 h-6 rounded-full" src="./assets/img/balgr.jpg">
          <span class="ml-3">BJ5</span>
        </a>
      </li>
      <li class="my-px h-8">
        <a routerLink="/icaru"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
           <img class="w-6 h-6 rounded-full" src="./assets/img/icaru.jpg">
          <span class="ml-3">Icaru</span>
        </a>
      </li>
      <li class="my-px h-8">
        <a routerLink="/lushen"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
           <img class="w-6 h-6 rounded-full" src="./assets/img/lushen.png">
          <span class="ml-3">Lushen</span>
        </a>
      </li>
      <li class="my-px h-10">
        <span class="flex font-medium text-sm text-gray-100 px-4 my-4 uppercase">Caiross</span>
      </li>
      <li class="my-px h-8">
        <a routerLink="/game-info"
           class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
           <fa-icon class="text-2xl text-gray-100" [icon]="infos"></fa-icon> 
          <span class="ml-3">Information</span>
        </a>
      </li>
    </ul>
  </div>
</div> -->

<div class="navbar-desktop flex flex-wrap flex-row w-full justify-center bg-transparent">
  <a routerLink="/"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <span class="flex items-center justify-center text-lg">
      <svg fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6">
        <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
      </svg>
    </span>
    <span class="ml-3">Home</span>
  </a>
  <a routerLink="/monsters"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <img class="w-6 h-6" src="./assets/img/icon/monster-icon.png">
    <span class="ml-3">Monsters</span>
  </a>
  <a routerLink="/rune-sell"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <img class="w-6 h-6" src="./assets/img/icon/rune-icon.png">
    <span class="ml-3">Runes</span>
  </a>
  <a routerLink="/bj5"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <img class="w-6 h-6 rounded-full" src="./assets/img/balgr.jpg">
    <span class="ml-3">BJ5</span>
  </a>
  <a routerLink="/icaru"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <img class="w-6 h-6 rounded-full" src="./assets/img/icaru.jpg">
    <span class="ml-3">Icaru</span>
  </a>
  <a routerLink="/lushen"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <img class="w-6 h-6 rounded-full" src="./assets/img/lushen.png">
    <span class="ml-3">Lushen</span>
  </a>
  <a routerLink="/game-info"
  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-400 hover:bg-gray-100">
    <fa-icon class="text-2xl text-gray-100" [icon]="infos"></fa-icon> 
    <span class="ml-3">Information</span>
  </a>
</div>