@import '../../../styles.scss';
@import '../../../styles.css';

h1 {
    color: $pastel-accent;
    text-transform: uppercase;
}

.description {
    margin-bottom: 25px;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: $clear-white !important;
} 

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: $accent-color !important;
}

::ng-deep .mat-dialog-container {
    background-color: #2d2d2d;
}

img {
    width: 50px;
}

.flex-wrapper {
    display: flex;

    &.caiross {
        flex-direction: row;
        padding: 10px 0px; 
        margin-right: 25px;

        .flex-wrapper{
            line-height: 25px;
            display: flex;
            flex-direction: column;
            margin-left: 20px;

            .accent {
                color: $pastel-accent;
            }
        }
    }
}